<div class="container">
    <div class="row form-row">
        <h1>letter chat</h1>
    </div>
    <div class="row form-row">
        <div class="card">
            <form method="post" action="/room">
                <div class="index-user_name">
                    <label class="form-label ">ルーム名</label>
                    <input
                        type="text"
                        placeholder="必須(入室時)"
                        id="roomId"
                        name="roomId"
                        class="index-room_name_text form-control"
                    >
                </div>
                <div class="index-user_name">
                    <label class="form-label">ユーザ名</label>
                    <input
                        type="text"
                        placeholder="必須"
                        id="userName"
                        name="userName"
                        class="index-user_name_text form-control"
                    >
                </div>
                <div class="index-enter">
                    <a class="btn  create_room_btn" onclick="createRoom();">部屋を作成する</a>

                    <input
                        type="button"
                        value="入室する"
                        class="btn common-button index-enter_button"
                        onclick="enter();"
                    >
                </div>
            </form>
        </div>
        <div class="createRoom"></div>
    </div>
</div>

<script src="/javascripts/index.js"></script>
