<div class="container ">
    <div class="row form-row">
        <h1>letter chat</h1>
    </div>
    <div class="row form-row room-background">
        <form method="post" action="/">
            <div class="room-login_user" style="text-align:center">
                ログインユーザ：{{ userName }}さん<br>
                ルームID：{{ roomId }}
                <input id="userName" type="hidden" value="{{ userName }}">
                <input id="roomId" type="hidden" value="{{ roomId }}">
            </div>
            <div class="room-message">
                <textarea
                    id="message"
                    rows="4"
                    class="room-message_textarea"
                    placeholder="投稿文を入力してください"
                ></textarea>
            </div>

            <div class="room-buttons">
                <input
                    type="button"
                    value="送信"
                    class="btn common-button room-publish_button"
                    onclick="publish();"
                >
                <input
                    type="button"
                    value="レター"
                    class="btn common-button room-publish_button"
                    onclick="publishLetter();"
                >
                <input
                    type="button"
                    value="メモ"
                    class="btn common-button room-memo_button"
                    onclick="memo();"  
                >
            </div>
            <div class="room-thread">
                <div class="left card normal" id="thread" ></div>
            </div>
            <div class="room-exit" style="text-align:center">
                <input
                    type="button"
                    value="退室する"
                    class="btn common-button room-exit_button"
                    onclick="exit();"
                >
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
<script src="/javascripts/letter.js"></script>
