<div class="container">
    <div class="row">
        <h1>Node Chat チャットルーム</h1>
    </div>
    <div class="row">
        <form method="post" action="/">
            <div class="room-login_user">
                ログインユーザ：{{ userName }}さん
                <input id="userName" type="hidden" value="{{ userName }}">
            </div>
            <div class="room-message">
                <textarea
                    id="message"
                    rows="4"
                    class="room-message_textarea"
                    placeholder="投稿文を入力してください"
                ></textarea>
                <input
                    type="button"
                    value="➡"
                    class="btn btn-info common-button room-publish_button"
                    onclick="publish();"
                >
                <input
                    type="button"
                    value="✉"
                    class="btn btn-info common-button room-publish_button"
                    onclick="publishLetter();"
                >
                <input
                    type="button"
                    value="メモ"
                    class="btn btn-info common-button room-memo_button"
                    onclick="memo();"
                >
            </div>
            <div class="room-thread">
                <div class="left card normal" id="thread" ></div>
                <div class="center"></div>
                <div class="right card letter" id="letterThread"></div>
            </div>
            <div class="room-exit">
                <input
                    type="button"
                    value="退室する"
                    class="btn btn-info common-button room-exit_button"
                    onclick="exit();"
                >
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
<script src="/javascripts/letter.js"></script>
